<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserDbMapper">
  <resultMap id="BaseResultMap" type="com.example.bean.db.UserDb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="tel" jdbcType="INTEGER" property="tel" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="account" jdbcType="INTEGER" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="permissions" jdbcType="INTEGER" property="permissions" />
    <result column="college_num" jdbcType="VARCHAR" property="collegeNum" />
    <result column="college_name" jdbcType="VARCHAR" property="collegeName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="e_mail" jdbcType="VARCHAR" property="eMail" />
    <result column="u_mark" jdbcType="VARCHAR" property="uMark" />
    <result column="status_cd" jdbcType="INTEGER" property="statusCd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, age, tel, size, account, password, permissions, college_num, 
    college_name, address, e_mail, u_mark, status_cd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bean.db.UserDb">
    insert into u_user (id, user_id, user_name, 
      age, tel, size, account, 
      password, permissions, college_num, 
      college_name, address, e_mail, 
      u_mark, status_cd)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{tel,jdbcType=INTEGER}, #{size,jdbcType=DOUBLE}, #{account,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{permissions,jdbcType=INTEGER}, #{collegeNum,jdbcType=VARCHAR}, 
      #{collegeName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{eMail,jdbcType=VARCHAR}, 
      #{uMark,jdbcType=VARCHAR}, #{statusCd,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.bean.db.UserDb">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="permissions != null">
        permissions,
      </if>
      <if test="collegeNum != null">
        college_num,
      </if>
      <if test="collegeName != null">
        college_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="eMail != null">
        e_mail,
      </if>
      <if test="uMark != null">
        u_mark,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="account != null">
        #{account,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        #{permissions,jdbcType=INTEGER},
      </if>
      <if test="collegeNum != null">
        #{collegeNum,jdbcType=VARCHAR},
      </if>
      <if test="collegeName != null">
        #{collegeName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="uMark != null">
        #{uMark,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.bean.db.UserDb">
    update u_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        permissions = #{permissions,jdbcType=INTEGER},
      </if>
      <if test="collegeNum != null">
        college_num = #{collegeNum,jdbcType=VARCHAR},
      </if>
      <if test="collegeName != null">
        college_name = #{collegeName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        e_mail = #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="uMark != null">
        u_mark = #{uMark,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.bean.db.UserDb">
    update u_user
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      tel = #{tel,jdbcType=INTEGER},
      size = #{size,jdbcType=DOUBLE},
      account = #{account,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      permissions = #{permissions,jdbcType=INTEGER},
      college_num = #{collegeNum,jdbcType=VARCHAR},
      college_name = #{collegeName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      e_mail = #{eMail,jdbcType=VARCHAR},
      u_mark = #{uMark,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
        andt.idt.id=#{id,jdbcType=INTEGER}
      </if>
      <if test="null != userId">
        andt.user_idt.user_id=#{userId,jdbcType=VARCHAR}
      </if>
      <if test="null != userName">
        andt.user_namet.user_name=#{userName,jdbcType=VARCHAR}
      </if>
      <if test="null != age">
        andt.aget.age=#{age,jdbcType=INTEGER}
      </if>
      <if test="null != tel">
        andt.telt.tel=#{tel,jdbcType=INTEGER}
      </if>
      <if test="null != size">
        andt.sizet.size=#{size,jdbcType=DOUBLE}
      </if>
      <if test="null != account">
        andt.accountt.account=#{account,jdbcType=INTEGER}
      </if>
      <if test="null != password">
        andt.passwordt.password=#{password,jdbcType=VARCHAR}
      </if>
      <if test="null != permissions">
        andt.permissionst.permissions=#{permissions,jdbcType=INTEGER}
      </if>
      <if test="null != collegeNum">
        andt.college_numt.college_num=#{collegeNum,jdbcType=VARCHAR}
      </if>
      <if test="null != collegeName">
        andt.college_namet.college_name=#{collegeName,jdbcType=VARCHAR}
      </if>
      <if test="null != address">
        andt.addresst.address=#{address,jdbcType=VARCHAR}
      </if>
      <if test="null != eMail">
        andt.e_mailt.e_mail=#{eMail,jdbcType=VARCHAR}
      </if>
      <if test="null != uMark">
        andt.u_markt.u_mark=#{uMark,jdbcType=VARCHAR}
      </if>
      <if test="null != statusCd">
        andt.status_cdt.status_cd=#{statusCd,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.example.bean.db.UserDb" resultMap="BaseResultMap">
    selectt.*fromu_user t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.example.bean.db.UserDb" resultMap="BaseResultMap">
    selectt.*fromu_user t
    <include refid="base_query" />
  </select>
</mapper>